<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Japanese alphabet API</title>
  </head>
  <body>
    <main>
      <h1>Japanese alphabet API</h1>
      <p>
        The Japanese alphabet API is used to generate the Japanese alphabets
        characters
      </p>
      <p>You can access the database through different routes</p>
      <ul>
        <li><strong>/api/all</strong> to get all the alphabets characters</li>
        <li>
          <strong>/api/fullhiragana</strong> to get all the hiragana characters
        </li>
        <li>
          <strong>/api/fullkatakana</strong> to get all the katakana characters
        </li>
        <li>
          <strong>/api/hiragana</strong> to get only the hiragana characters
        </li>
        <li>
          <strong>/api/hiraganacombinations</strong> to get only the hiragana
          combinations characters
        </li>
        <li>
          <strong>/api/katakana</strong> to get only the katakana characters
        </li>
        <li>
          <strong>/api/katakanacombinations</strong> to get all the katakana
          combinations characters
        </li>
      </ul>
    </main>
    <footer>
      API developed by
      <a href="https://carloscr18.github.io/Portfolio/" target="_blank"
        >Carlos Crespo</a
      >
    </footer>
  </body>
</html>
